body{

    background-color: #EFEFEF;
}
*{
    margin: 0;
    padding: 0;  
    text-decoration: none;
    list-style-type:initial;
    list-style:none;
}
.clearfix::after{
    content: '';
    display: block;
    clear: both;
}
.topnavigation{
    padding: 37px 0;
    position: fixed;
    top:0;
    left: 0;
   width: 100%;
}
.topnavigation > .topnavcontainer > a {
    text-decoration: none;
   display: inline-block;
    font-family: 'Arial Black';
    font-weight: bold;
    font-size: 28px;
}
.topnavigation >.topnavcontainer > a > span.rs{
   color: #E6686A;

}
.topnavigation >.topnavcontainer > a > span.card{
   color: #9A9DA2;
}
.topnavigation > .topnavcontainer > ul{
  float: right;
 
}
.topnavigation >.topnavcontainer > ul > li{
    list-style-type: none;
    float: left;  
     padding:0px 17px;
     
} 
.topnavigation > .topnavcontainer > ul > li > a{
border-bottom: 2px solid transparent;
  color:#B7B7AA; 
  font-size: 11px;
    font-weight: bold;
    padding-bottom: 8px;
    border-radius: 4px;
}
.topnavigation > .topnavcontainer > ul > li > a:hover{
    border-bottom: 2px solid #E06567;
    border-radius: 2px;
    transition: all 0.3s;
}
.topnavigation > .topnavcontainer{
  padding: 0 18px;
}
.bannerpicture{
    background-image: url(./img/4.jpg);
    height: 515px;
    background-position: center center;
    background-size: cover;fugai
}
.bannerpicture > .mask{
    background: rgba(0, 0 ,0 , 0.5);
    height: 515px;
    
}


main{
    max-width: 940px;
    margin: 0 auto;
    margin-top: -260px;   
    background: #FFFFFF;
    border-radius: 8px;
    box-shadow: 10px 3px 24px 1px rgba(0,0,0,0.47);
 
}
main > .topinformat{
    padding: 50px;
}
main >.topinformat>.pictureavater{
    float: left;
}
main >.topinformat>.usercontent{
    float: left;
    margin-left: 50px;
}
main> .topinformat>.pictureavater> img{
    height: 347px;
    width: 299px;
    border-radius: 4px;
}
main > .topinformat>.usercontent > span.hello{
  
    background:#E6686A;
    color: #FBFFFF;
    padding: 5px 15px;
    border-radius: 4px;
    position: relative;
}
main > .topinformat>.usercontent >.hello > .triangle{
    border:8px solid transparent;
 left: 10px;
  border-top:0;
  border-left-color:#E6686A;
  position: absolute;
  top:100%;
}
main >.topinformat>.usercontent> h1{
    margin-top: 37px;
    font-weight: normal;
    
}

main > .topinformat>.usercontent> hr{
    margin: 20px 0;
    width: 439px;
}
main > .topinformat>.usercontent> dl> dd{
   margin-inline-start:0px;
   float: left;
   width: 70%;
   padding: 8px 0;
   color: #9DA0A7;
}
main > .topinformat>.usercontent> dl> dt{
    float: left;
    width: 30%;
    padding: 8px 0;
    font-weight: bold;
}
main > footer{
    text-align: center;
    background: #E6686A;
}
main >footer > a{
    border-radius: 50%;
    display: inline-block;
   padding: 8px;
    margin: 10px;
}
main >footer > a:hover{
    background:  #CF5D5F;
    transition: all 0.3s;
}
main > footer >a > svg.icon{
    width: 30px;
    height: 30px;
    fill:white;
    vertical-align: tap;
    padding: 0 15px;
}
.buttoncontainer> .button{
   border: 1px solid#CDCFD1;
display: inline-block;
   padding: 21px 55px;
   border-radius: 28px;
   color:  #3D4451;
   font-family: kai;
   
}
.buttoncontainer> .button:hover{
    box-shadow: 10px 7px 30px -6px rgba(0,0,0,0.75);
    transition: all 0.3s;
}
.buttoncontainer{ 
   text-align: center;  
   margin-top: 30px;
   margin-bottom: 40px;
}
.jieshao{
    text-align: center; 
}
.jieshao1{
    margin-top: 10px;
    padding-left: 861px;
    
}

section > h1,
.userportfolio h1{
    padding-top: 77px;
    padding-bottom: 33px; 
    text-align: center;
}
.skills,
.userportfolio{
    max-width: 940px;
    margin-left: auto;
    margin-right: auto;
}
.skills > .userskill{
  
   background-color: #FFFFFF;
   padding: 50px;
   border-radius: 8px;
   box-shadow: 10px 7px 30px -6px rgba(0,0,0,0.75);
   
}
.skills >.userskill > li{
float: left;
width: 50%;
margin: 2px 0 40px;
box-sizing: border-box;
padding-right: 30px;

}
.skills >.userskill > li>.progressBar{
    height: 5px;
    background:  #FAE1E1;
    border-radius: 2px;

}
.skills >.userskill > li:nth-child(even){
 float: right;
 padding-right: 0px;
}
.skills >.userskill > li>.progressBar > .progress{
    width: 80%; 
    background: #E6686A;
    height: 100%;
}
.userportfolio{
    text-align: center;
}
.userportfolio > nav{
    display: inline-block;
    vertical-align: top;
}
.userportfolio > nav > ol{
    display: inline-block;
    vertical-align: top;
    cursor: pointer;

}
.userportfolio > nav > .bar{
   background:  #FAE1E1;
  border-radius: 2px;
   height: 5px;
}
.userportfolio > nav > .bar >.bbbb{
    height: 100%;
    transition: all 0.3s;
    background: #E6686A;
    border-radius: 2px;
    margin-top: 10px;

}
.userportfolio > nav > ol >li{
    float: left;
    padding-left: 40px;
}
.userportfolio > nav > ol >li:nth-child(1){
    padding-left: 0px;
}

.userportfolio > nav > .bar.state-1 .bbbb{
    width: 15%;
    margin-left: 0px;
}
.userportfolio > nav > .bar.state-2 .bbbb{
    width: 17%;
    margin-left: 71px;
}
.userportfolio > nav > .bar.state-3 .bbbb{
    width: 41%;
    margin-left: 143px;
}
.words{
    margin-top: 50px;
    margin-bottom: 100px;   
    height:  597px;
 
}
.words {
    position: relative;
}
.words > .big,
.words>.small{
  position: absolute;
}

